<%- include ./layout%>
<%- include ../partials/footer%>
<style>
</style>
<table border="1">
           
            <%- layout.forEach((layout){%>
            <%- layout.block.forEach((block){%>
        <tr>
        <td > <%= block.name %>  </td>
    </tr>
    <% })%>
    <% })%>

    </table>

<script>


</script>
