
    <%-include ./layout%>
    <h1> Upload Table</h1>
   
    
  <table border="0" width="300px" height="400px">
      <tr>
          <td>Monedha</td>
          <td>Shitet</td>
          <td>Blihet</td>
      </tr>
      <tr>
        <form action="/home/list-table/update/<%= table[0]._id%>" method="POST" id="form1">
        <td><input type="text" name="name" id="name" value="<%= table[0].name%>" ></td>
        <td><input type="text" name="sell" id="sell" value="<%= table[0].sell%>" ></td>
        <td><input type="text" name="buy" id="buy" value="<%= table[0].buy%>" ></td>
        <td><input type="submit"></td>
    </form> 
     </tr>
     <tr>
        <form action="/home/list-table/update/:1" method="POST" id="form2">
            <td><input type="text" name="name" value="<%= table[1].name%>" ></td>
            <td><input type="text" name="sell" value="<%= table[1].sell%>" ></td>
            <td><input type="text" name="buy" value="<%= table[1].buy%>" ></td>
        </form> 
     </tr>
     <tr>
            <form action="/home/list-table/update/:2" method="POST" id="form3">
            <td><input type="text" name="name" value="<%= table[2].name%>" ></td>
            <td><input type="text" name="sell" value="<%= table[2].sell%>" ></td>
            <td><input type="text" name="buy" value="<%= table[2].buy%>" ></td>
        </form> 
     </tr>
     
  </table>
  
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    //   document.getElementsById("data").onchange = function() {
    //    document.getElementById("form1").submit();
    //   };  
    //   document.getElementsByTagName("input").onchange = function() {
    //    document.getElementById("form2").submit();
    //   };  
    //   document.getElementsByTagName("input").onchange = function() {
    //    document.getElementById("form3").submit();
    //   };
    
//     $('form1 input').change(function() {
//     $(this).closest('form1').submit();
// });
    document.getElementById("data").onchange = function() {
      document.getElementById("form1").submit();
      };
      </script>