
<%- include ./list-layout%>
  <table border="0" width="300px" height="400px">
      <tr>
          <td>Monedha</td>
          <td>Shitet</td>
          <td>Blihet</td>
      </tr>
      <% for(var i=0;i<lay.layouts.length;i++){%>
            <% for(var y=0;y<lay.layouts[i].block.length;y++){%>
              <% if(lay.layouts[i].block[y].name === 'table'){%>
                <%for(var z=0;z<lay.layouts[i].block[y].output.length;z++){%>
      <tr>
        <form action="/home/list-table/update/<%= table[0]._id%>" method="POST" id="form1">
        <td><input type="text" name="name" id="data1" value="<%= lay.layouts[i].block[y].output[z].tabel%>" ></td>
        <td><input type="text" name="sell" id="data2" value="<%= lay.layouts[i].block[y].output[z].shitet%>" ></td>
        <td><input type="text" name="buy" id="data3" value="<%= lay.layouts[i].block[y].output[z].blihet%>" ></td>
        
    </form> 
  </table>
  
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("data1").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data2").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data3").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data4").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data5").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data6").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data7").onchange = function(){
        document.getElementById("form3").submit();
    }
    document.getElementById("data8").onchange = function(){
        document.getElementById("form3").submit();
    }
    document.getElementById("data9").onchange = function(){
        document.getElementById("form3").submit();
    }
      </script>