
    <%-include ./layout%>
    <div width="1280px" height="720px">
            <div class="upload container" width="600px" height="600px" >
            <table style="background-color:#bdbbbb"  border="2">
              <tr>
                <td width="400px" height="50px" colspan="2" style="text-align:center"><a href="/home/layout-table/list-headers" id="header">Blloku 1 1920x127</a></td>
              </tr>
              <tr>
                <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-table/list-video" >Blloku 2 1280x720</a></td>
                <td width="200px" height="100px" style="text-align:center"><a href="/home/layout-table/list-slide" >Blloku 3 640x720</a></td>
              </tr>
              <tr>
                <td width="400px" height="50px"colspan="2" style="text-align:center"><a href="/home/layout-table/list-table" >Blloku 4 1920x233</a></td>
              </tr>
            </table>
          </div>

          
    <h1> Upload Table</h1>
   
    
  <table border="0" width="300px" height="400px">
      <tr>
          <td>Monedha</td>
          <td>Shitet</td>
          <td>Blihet</td>
      </tr>
      <tr>
        <form action="/home/layout-table/list-table/update/<%= table[0]._id%>" method="POST" id="form1">
        <td><input type="text" name="name" id="data1" value="<%= table[0].name%>" ></td>
        <td><input type="text" name="sell" id="data2" value="<%= table[0].sell%>" ></td>
        <td><input type="text" name="buy" id="data3" value="<%= table[0].buy%>" ></td>
        
    </form> 
     </tr>
     <tr>
        <form action="/home/layout-table/list-table/update/<%= table[1]._id%>" method="POST" id="form2">
            <td><input type="text" name="name" id="data4" value="<%= table[1].name%>" ></td>
            <td><input type="text" name="sell" id="data5" value="<%= table[1].sell%>" ></td>
            <td><input type="text" name="buy" id="data6" value="<%= table[1].buy%>" ></td>
  
        </form> 
     </tr>
     <tr>
            <form action="/home/layout-table/list-table/update/<%= table[2]._id%>" method="POST" id="form3">
            <td><input type="text" name="name"  id="data7" value="<%= table[2].name%>" ></td>
            <td><input type="text" name="sell" id="data8"  value="<%= table[2].sell%>" ></td>
            <td><input type="text" name="buy" id="data9" value="<%= table[2].buy%>" ></td>

        </form> 
     </tr>
     
  </table>
  
  <footer><%- include ../partials/footer %></footer>
  <script type="text/javascript">
    document.getElementById("data1").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data2").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data3").onchange = function(){
        document.getElementById("form1").submit();
    }
    document.getElementById("data4").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data5").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data6").onchange = function(){
        document.getElementById("form2").submit();
    }
    document.getElementById("data7").onchange = function(){
        document.getElementById("form3").submit();
    }
    document.getElementById("data8").onchange = function(){
        document.getElementById("form3").submit();
    }
    document.getElementById("data9").onchange = function(){
        document.getElementById("form3").submit();
    }
      </script>